* {
  margin: auto;
  padding: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.wrap {
  background-color: rgb(7, 1, 84);
  height: 100vh;
  box-shadow: 3px 1px 25px white;
}

.gamecontainer {
  display: flex;
  justify-content: center;
}

 .map {
  height: 450px;
  width: 550px;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: 1px 1px 20px white;
}


.imgcontainer img {
  height: 450px;
  width: 550px;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: 1px 1px 20px white;
  /* margin-left: 120px; */
}

.scorecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 60px;
  font-family: 'Varela Round';
  font-weight: 900;
}

.score{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 90px ;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

.timerconainer{
/*   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 20px;

 
}

.timer {
  font-size: 25px;
  padding-bottom: 10px;
  padding-right: 60px ;

}

.attempt {
  font-size: 25px;
  padding-bottom: 10px;
 
}


.footer {
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  background-color: rgb(7, 1, 84);
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  font-weight: 400;
  box-shadow: 3px 1px 25px white;
}


a {
  padding-left: 20px;
}


.footer a:hover {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}


.swal2-title {
  font-family: 'Varela Round';
  font-weight: 100;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  /* justify-content: center;
  align-items: center; */
  /* align-items: center; */
  background-color: rgb(7, 1, 84);
  /* padding-left: 650px; */
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 10px;
  color: white;
  font-family: "Prompt";
  /* width: 100vw; */
}

.links {
  /* display: flex;
  justify-content: space-evenly;
  font-size: 45px; */
  /* margin-left: 100px; */
  
  
}

.linksfoot{
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 35px;
  margin-left: 650px;
  
}

.headercontainer img {
  width: 40px;
  padding: 10px;
}

.header:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.n {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60px;
}

.footer a{
  font-size: 40px;
}


@media all and (max-width: 420px) {

  body{
    overflow-x: hidden;
  }

  .headercontainer{
    overflow-x: hidden;
    width: 21px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-right: 400px;
    font-size: 10px;
    /* padding-right: 400px; */
    
   
  }
  .header {
    display: grid ;
    width: auto;
    flex-direction: row;
    justify-content: center;
    /* padding-left: 410px; */
    font-size: 30px;
    /* padding-left: 1000px; */
    /* position:absolute; */
    
  }
  .headercontainer img {
  width: 30px;
  
  }

.links{
  display: flex;
  padding-right: 70px;
  margin-right: 40px;
 
  /* padding-right: 1000px; */
}


  .textcontainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-left: 55px;
 
  }

  .h1{
    padding-right: 25px;
  }

  .h3{
    padding-right: 15px;
  }

 

  .wrapper{
    overflow-x: hidden;
    width: 430px;
    display:inline-flex;
    flex-direction: column;

  }


  .levelcontainer {
    flex-direction: column;
    margin: -20px;
    
  }


  .wrap{
    width: 110%;
    padding-bottom: 50px;
  }

  .scorecontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   
  }

  .score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .timer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
  }
  .attempt{
    padding-left: 40px;
  }

  .gamecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .map{
    border-radius: 40px;
  }

  

  .imgcontainer img{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  .map{
    width: 300px;
    height: 300px;
  }




  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
   
  }


}


@media all and (max-width: 450px) {
  .headercontainer{
    /* overflow-x: hidden; */
    width: 45px;
  }

  .wrapper{
    overflow-x: hidden;
    width: 455px;
  }

  .map{
    border-radius: 40px;
  }

}

@media all and (max-width: 450px) {
  .footer{
    width: 415px;
  }

  .wrap{
    overflow-x: hidden;
    width: 455px;
  }

  .map{
    border-radius: 40px;
  }
  
}

@media all and (min-width: 1200px) and (max-width: 1250px) {
  .header{
    margin-left: 480px;
  }
}

@media all and (min-width: 1250px) and (max-width: 1400px) {
  .header{
    margin-left: 550px;
  }
}

@media all and  (min-width: 700px) and (max-width: 1100px) {
 
  .wrapper{
    width: 205%;
    
  }

  .headercontainer{
    width: 205%;
    
  }
  .header{
    margin-left: 680px;
  }

  .footer{
    width: 200%;
  }
  .wrap{
    width: 205%;
  }
}

@media all and (min-width: 1400px) and (max-width: 1500px) {
  .header{
    margin-left: 605px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1300px) {
  .headercontainer{
    width: 123%;
  }
  .header{
    margin-left: 520px;
  }
  .wrapper{
    width: 123%;
  }
  .footer{
    width: 119%;
  }
  .wrap{
    width: 123%;
  }
}

@media all and (min-width: 1600px) and (max-width: 1800px) {
  .header{
    margin-left: 680px;
  }
}

@media all and (min-width: 2500px) and (max-width: 3100px) {
  .header{
    margin-left: 1170px;
  }
}

