* {
  margin: auto;
  padding: auto;
}

.wrap {
  background-color: rgb(7, 1, 84);
  height: 100vh;
}

.gamecontainer {
  display: flex;
  justify-content: center;
}

 .map {
  height: 450px;
  width: 550px;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: 1px 1px 20px white;
}


.imgcontainer img {
  height: 450px;
  width: 550px;
  border: 3px solid white;
  border-radius: 40px;
  box-shadow: 1px 1px 20px white;
  /* margin-left: 120px; */
}

.scorecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 60px;
  font-family: 'Varela Round';
  font-weight: 900;
}

.score{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 90px ;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}

.timerconainer{
/*   
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 20px;

 
}

.timer {
  font-size: 25px;
  padding-bottom: 10px;
  padding-right: 60px ;

}

.attempt {
  font-size: 25px;
  padding-bottom: 10px;
 
}


.footer {
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  background-color: rgb(7, 1, 84);
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px;
  font-weight: 400;
}

.links {
  display: flex;
  justify-content: space-evenly;
  font-size: 45px;
  /* margin-left: 100px; */
}

a {
  padding-left: 20px;
}


.footer a:hover {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}


.swal2-title {
  font-family: 'Varela Round';
  font-weight: 100;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  /* align-items: center; */
  background-color: rgb(7, 1, 84);
  /* padding-left: 650px; */
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 10px;
  color: white;
  font-family: "Prompt";
  /* width: 100vw; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  
}

.headercontainer img {
  width: 40px;
  padding: 10px;
}

.n {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60px;
}


@media all and (max-width: 460px) {
  .headercontainer{

    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-right: 400px;
    font-size: 10px;
  }
  .header {
    display: grid ;
    flex-direction: row;
    justify-content: center;
    padding-left: 430px;
    font-size: 30px;
  }
  .headercontainer img {
  width: 30px;
  
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-left: 60px;
 
  }


  .wrapper{
    display:inline-flex;
    flex-direction: column;

  }


  .levelcontainer {
    flex-direction: column;
    margin: -20px;
    
  }

  .scorecontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   
  }

  .score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .timer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40px;
  }
  .attempt{
    padding-left: 40px;
  }

  .gamecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .imgcontainer img{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }

  .map{
    width: 300px;
    height: 300px;
  }




  .footer {
    display: flex;
    flex-direction: column;
  }
}

 